#toast__container {
	position: fixed;
	top: 32px;
	right: 30px;
	z-index: 999;
}

.toast {
	min-width: 400px;
	max-width: 450px;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
	padding: 20px 0;
	position: relative;
	overflow: hidden;
	transition: all 0.5s linear;
}
@keyframes slideInLeft {
	from {
		opacity: 0;
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
@-webkit-keyframes slideInLeft {
	from {
		opacity: 0;
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	to {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

.toast::before {
	position: absolute;
	content: '';
	height: 100px;
	top: -4px;
	left: -1px;
	width: 100%;
	border-width: 0 0 5px 5px;
	border-style: solid;
	animation: timeOut 5s ease;
	animation-fill-mode: both;
}
@keyframes timeOut {
	0% {
		width: 100%;
	}
	49.99% {
		width: 0%;
	}
	50% {
		height: 100%;
	}
	100% {
		height: 0%;
		width: 0%;
	}
}
.toast + .toast {
	margin-top: 30px;
}

.toast__icon {
	font-size: 24px;
}

.toast__body {
	flex-grow: 1;
	padding: 0 10px;
}
.toast__title {
	font-size: 20px;
	color: #333;
	font-weight: 600;
}
.toast__msg {
	font-size: 16px;
	color: #888;
	margin-top: 6px;
	line-height: 1.5;
}
.toast__close {
	font-size: 24px;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transform: translateY(-10%);
}
.toast__icon,
.toast__close {
	padding-inline: 16px;
}
.toast--success::before {
	border-color: #47d864;
}
.toast--success .toast__icon {
	color: #47d864;
}
.toast--error::before {
	border-color: #ff623d;
}
.toast--error .toast__icon {
	color: #ff623d;
}
#bnt-click {
	margin-top: 30px;
}
