.toast {
	min-width: 400px;
	max-width: 450px;
	display: flex;
	align-items: center;
	background-color: #fff;
	border-radius: 10px;
	border-left: 4px solid;
	box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
	padding: 20px 0;
	margin-top: 20px;
	margin-left: 40px;
}
.toast + .toast {
	margin-top: 30px;
}

.toast__icon {
	font-size: 24px;
}

.toast__body {
	flex-grow: 1;
	padding: 0 10px;
}
.toast__title {
	font-size: 20px;
	color: #333;
	font-weight: 600;
}
.toast__msg {
	font-size: 16px;
	color: #888;
	margin-top: 6px;
	line-height: 1.5;
}
.toast__close {
	font-size: 24px;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transform: translateY(-10%);
}
.toast__icon,
.toast__close {
	padding-inline: 16px;
}
.toast--success {
	border-color: #47d864;
}
.toast--success .toast__icon {
	color: #47d864;
}
.toast--error {
	border-color: #ff623d;
}
.toast--error .toast__icon {
	color: #ff623d;
}
