footer.footer#footer
    .footer-container
        .footer-container-download.footer-flex
            h2.footer-title Download Our App
            .footer-download-img(class= title)
                +dowImg("../image/footer-apple-store.png","Download Apple-Store")
                +dowImg("../image/footer-ggplay.png","Download Google Play")
        .footer-logo.footer-flex
            .footer-logo-image
                a(href="/") 
                img(src="../image/logo.png", alt="Logo Vape")
            .below-text-logo Getting money is our motive
        .footer-useful-link.footer-flex
            h2.footer-title Userful Link
            ul.footer-ul
                +userFul
        .footer-follow-us.footer-flex
            h2.footer-title Follow US
            ul.footer-ul
                +followOurLinks
    .is-dive
    .coppy-right
        | Copyright 2022 - Kurniawan & Ridho Al Walliyyu     


