//- head.pug
header.head#head
    .head-inner.navigation
        //- logo
        #logo
            a(href="/")
                img(src="./image/logo.png", alt="LOGO Vape") 
        //- menu
        .main-menu.nav
            ul.menu-nav 
                +meunuHeader
        .add-to-card
            a(href='#') 
                img(src="./image/mdi-light_cart.svg", alt="add to card", srcset="")
    