include theme/mixin.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Vape Store
        link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
        link(rel="stylesheet", href="./scss/style.css")
    body 
        #wrapper
            include theme/head.pug
            .container#container
                .container-col
                    .col-1.text
                        .text-welcom Welcome to RK vapestore
                        .text-about This is a Vape Store. If you’re underage,don’t visit this website.
                        button Explore ->
                    .img-col-2
                        img(src="./image/img-home.png", alt="")    
                .featured-products.container-product
                    .featured-products-title.container-product-title
                        h2 Featured Products
                        .product.product-featured
                            +productFeatured("GeekVape B100","./image/product/vape-pod-1.png","./image/rate-star/Star_{star}.svg","1")
                            +productFeatured("JOOZE - Strawberry","./image/product/vape-pod-2.png","./image/rate-star/Star_{star}.svg","2")
                            +productFeatured("Freemax - M Pro 2","./image/product/vape-pod-3.png","./image/rate-star/Star_{star}.svg","3")
                            +productFeatured("Hellvape Shoelace Organic Cotton","./image/product/vape-pod-4.png","./image/rate-star/Star_{star}.svg","4")
                .latest-products.container-product
                    .latest-products-title.container-product-title
                        h2 Lastest Products
                        .product.product-lastest
                            +productLastest("Vaporesso SWAG","./image/product/vape-pod-5.png","./image/rate-star/Star_{star}.svg","5")
                            +productLastest("Lost Vape Ursa","./image/product/vape-pod-6.png","./image/rate-star/Star_{star}.svg","6")
                            +productLastest("Freemax - M Pro 2","./image/product/vape-pod-3.png","./image/rate-star/Star_{star}.svg","7")
                            +productLastest("JOOZE - Menthol","./image/product/vape-pod-7.png","./image/rate-star/Star_{star}.svg","8")
                .brand-name#brand-name
                    +brandLogo("Coca","./image/brand/logo-coca.png")
                    +brandLogo("Godrej","./image/brand/logo-godrej.png")
                    +brandLogo("Oppo","./image/brand/logo-oppo.png")
                    +brandLogo("Paypal","./image/brand/logo-paypal.png")
                    +brandLogo("Philips","./image/brand/log-philips.png")
        include theme/footer.pug
            
        script(type='text/javascript', src='https://code.jquery.com/jquery-1.11.0.min.js')
        script(type='text/javascript', src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
        script(type='text/javascript', src='https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
        script(src="/js/java.js")

        


                        