body {
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navigation_layout {
  width: 100%;
  background-color: #fff;
  padding: 2em;
  gap: 0 50px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

.navigation_layout ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation_layout a:first-child,
.navigation_layout-item {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 30px;
  text-decoration: none;
  color: #0c5e68;
}

.navigation_layout li:first-child {
  margin-right: auto;
  /* Sử dụng margin-right: auto để nút "Home" nằm sát bên trái */
}

.nav-btn {
  width: 30px;
  height: 30px;
  fill: #0c5e68;
  cursor: pointer;
  display: none;
}
.nav__layout-mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);

  width: 250px;
  max-width: 100%;
  transform: translateX(100%);
  transition: transform linear 0.5s;
}
.nav__layout-mobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__layout-mobile li {
  padding: 30px 0;
}
.nav__layout-mobile a {
  text-decoration: none;
  font-size: 24px;
  color: #0c5e68;
}
.nav__btn-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: #0c5e68;
}
.nav__layout-mobile ul li:first-child {
  margin: 10px auto 0 10px;
  padding: 0;
  /* Sử dụng margin-right: auto để nút "Home" nằm sát bên trái */
}
.nav__layout-mobile ul li:nth-child(2) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.nav__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
/* Mobile */
@media screen and (max-width: 48em) {
  .nav-btn {
    display: block;
  }
  .navigation_layout-item {
    display: none;
  }
  .navigation_layout a:first-child {
    padding: 0;
  }
}
@media screen and (max-width: 35em) {
  .nav__layout-mobile {
    width: 100%;
  }
}
