@import '_variable.scss';
#head{
    .head-inner.navigation{
        width: 1440px;
        height: 100px;
        display: flex;
        gap: 117px;
        align-items: center;
    }
    #logo{
        width: 100px;
        height: 100px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .main-menu
    {
        .menu-nav{
            display: flex;
            gap: 117px;
            list-style: none;
            padding-left: 0;
            font-size: 24px;
            font-weight: 500;
            font-family: 'Inter',sans-serif;
            a{
                text-decoration: none;
                color:$colorB
            }
        }
    }
    }